:root {
    --accent-color: steelblue;
    --white-color: white;
    --gray-color: gray;
    --border-size: 5px;
    --padding-size: 1rem;

}

nav {
    background-color: var(--accent-color);
    padding: var(--padding-size);
}
nav a {
    color: var(--white-color);
    display: block;
    padding: var(--padding-size);
}
h1 {
    color: var(--accent-color);
}
main img {
    width: 250px;
    height: auto;
    border: 1px solid var(--accent-color);
    padding: var(--padding-size);
    box-shadow: 0 0 30px var(--gray-color);
}
p {
    padding: 0;
}
main {
    max-width: 51rem;
}
aside {
    width: 15rem;
    margin: 5rem;
    border: 5px solid black;
    padding: var(--padding-size);
    background-color: var(--gray-color);
    color: var(--white-color);
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 25px;
    border-top: 2px dashed var(--accent-color);
    text-align: center;
}