.callout {
    max-width: 100%;
    margin: 3px;
    border: 1px;
    background-color: rgb(63, 101, 214);
    text-decoration-color: white;
    -moz-text-decoration-color: white;
}

.callout img {
	float: right;
    margin: 20px;
    border: 3px;
    padding: 0px;
    background-color: white;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 2px;
}

cite {
	display: inline-block;
    border-top: 5px;
    padding-top: 5px;
    text-align: left;
    font-size: 16px;
}